<!DOCTYPE html>
<html>
<head>
  <title>Page Not Found</title>
</head>
<body>
  <h1>404 - Fruit Not Found!</h1>
  <p>Sorry, that page doesn't exist. <a href="/">Go home</a></p>
  <img src="https://www.flaticon.com/free-icons/hopeless" alt="Sad fruit">
</body>
</html>